@font-face {
  font-family: "pixels";
  src: url(assets/BoldPixels.otf);
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(23, 26, 48);
  overflow: hidden;
  position: relative;
  font-family: "pixels";
  cursor: crosshair;
}

button {
  font-family: "pixels";
}

.mainframe {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.title {
  font-size: 10vw;
  position: absolute;
  top: 10%;
  left: 50%;
  z-index: 200;
  transform: translateX(-50%);
  word-spacing: -2.2vw;
  text-shadow: rgb(255, 255, 255) 0.2vw 0.2vw;
  text-align: center;
  display: block;
}

.subtitle {
  font-size: 1vw;
  position: absolute;
  top: 10%;
  left: 50%;
  z-index: 200;
  transform: translateX(-50%);
  color: aliceblue;
  text-align: center;
  line-height: 1.5vw;
}

.startbutton {
  font-size: 2.5vw;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 200;
  -webkit-box-shadow: 6px 6px 0px 2px rgba(0, 0, 0, 0.81);
  box-shadow: 6px 6px 0px 2px rgba(0, 0, 0, 0.81);
  border: none;
  cursor: help;
}

.startbutton:hover {
  -webkit-box-shadow: 6px 6px 0px 2px rgba(255, 255, 255, 0.81);
  box-shadow: 1px 1px 0px 1px rgba(255, 255, 255, 0.81);
  background-color: black;
  color: aliceblue;
}

#moveleft,
#moveright {
  display: none;

  font-size: 1.5vw;
  -webkit-box-shadow: 6px 6px 0px 2px rgba(0, 0, 0, 0.81);
  box-shadow: 6px 6px 0px 2px rgba(0, 0, 0, 0.81);
}

#moveleft:hover,
#moveright:hover {
  font-size: 1.5vw;
  -webkit-box-shadow: 6px 6px 0px 2px rgba(255, 255, 255, 0.81);
  box-shadow: 1px 1px 0px 1px rgba(255, 255, 255, 0.81);
  background-color: black;
  color: aliceblue;
}

.scene {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  width: max-content;
  position: absolute;
  left: 0;
  top: 0;
  transition: transform 0.05s linear;
  z-index: 10;
}

.scene-image {
  height: 80vh;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

.ri-character {
  position: fixed;
  left: 50vw;
  bottom: 0;
  height: 15vw;
  image-rendering: pixelated;
  transform: translateX(-50%);
  z-index: 100;
  display: none;
}

.ri-character2 {
  position: fixed;
  left: 50vw;
  bottom: 0;
  height: 15vw;
  image-rendering: pixelated;
  transform: translateX(-50%);
  z-index: 100;
  filter: blur(2vw);
  display: none;
}

.ni-character {
  position: absolute;
  left: 95%;
  bottom: 10vh;
  height: 15vw;
  image-rendering: pixelated;
  transform: translateX(-50%);
  z-index: 300;
}

.ni-character2 {
  position: absolute;
  left: 95%;
  bottom: 10vh;
  height: 15vw;
  image-rendering: pixelated;
  transform: translateX(-50%);
  z-index: 300;
  filter: blur(2vw);
}

.ninew {
  position: fixed;
  left: 59vw;
  bottom: 0;
  height: 15vw;
  image-rendering: pixelated;
  transform: translateX(-50%);
  z-index: 200;
  display: none;
}

.ninew2 {
  position: fixed;
  left: 59vw;
  bottom: 0;
  height: 15vw;
  image-rendering: pixelated;
  transform: translateX(-50%);
  z-index: 200;
  display: none;
  filter: blur(2vw);
}

.endcard {
  position: absolute;
  left: 93%;
  bottom: 38vh;
  z-index: 200;
  width: 16vw;
  height: auto;
  padding: 1vw;
  background: rgba(255, 255, 255, 0.733);
  color: black;
  font-size: 1.5vw;
  text-align: left;
  display: none;
}

#safe {
  font-size: 1.5vw;

  box-shadow: 2px 2px 0px 2px rgba(0, 0, 0, 0.81);
}

#safe:hover {
  background-color: black;
  color: aliceblue;
  box-shadow: 1px 1px 0px 1px rgba(255, 255, 255, 0.81);
}

.notsafe {
  font-size: 1.5vw;

  box-shadow: 2px 2px 0px 2px rgba(0, 0, 0, 0.81);
}

.notsafe:hover {
  background-color: rgb(234, 12, 12);
  color: rgb(255, 255, 255);
  box-shadow: 1px 1px 0px 1px rgba(255, 255, 255, 0.81);
}

#safed {
  display: none;
}

.movement-buttons {
  position: fixed;
  bottom: 2vw;
  left: 50vw;
  z-index: 150;
  display: flex;
  width: 40vw;
  align-self: center;
  transform: translateX(-50%);
  justify-content: space-between;
}
